.navbar-brand {
  height: 180px; 
}
.navbar-brand img {
  display: table;
  margin: 0px auto;
}

.navbar-nav{
  padding-top: 0px;
}

#m-contact form input::-webkit-input-placeholder, #m-contact form input:-moz-placeholder, #m-contact form input::-moz-placeholder, #m-contact form input:-ms-input-placeholder {
  color: #999 !important;
  opacity: 1 !important; }

#m-contact form textarea::-webkit-input-placeholder, #m-contact form textarea:-moz-placeholder, #m-contact form textarea::-moz-placeholder, #m-contact form textarea:-ms-input-placeholder {
  color: #999 !important;
  opacity: 1 !important; }

.logotext {
  font-size: 20px;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 0px;
  font-style: normal;
  margin-top: 10px;
  color: #000; }

.logoslogan {
  font-size: 11px;
  text-align: center;
  margin-top: 5px;
  margin-bottom: 0px;
  color: #999; }

.contact-info ul li {
  font-size: 15px;
  color: #ddd; }

.mc-name span, .mc-email span, .mc-website span {
  border: 1px solid #fff;
  background: #6ec800; }

.mc-message button {
  border: solid 2px #6ec800;
  background: #6ec800; }

.mc-name input, .mc-email input, .mc-website input {
  border-bottom: 1px solid #ffffff; }

.mc-message textarea {
  border: 1px solid #ffffff; }
  .mc-message textarea:focus {
    border: 2px solid #ffffff; }

.black-back {
  background: #000;
  color: #ffffff;
  font-size: 12px; }
  .black-back span {
    display: inline-block;
    margin-right: 10px;
    margin-left: 10px;
    font-size: 12px; }
  .black-back a {
    color: #ffffff; }

.btn-more {
  padding: 9px 18px;
  background: #000;
  display: table;
  margin: 0px;
  font-family: Roboto;
  font-size: 14px;
  color: #FFF;
  position: relative;
  font-weight: 300;
  border: 1px solid #000; }
  .btn-more:hover {
    background: #666666;
    color: #FFF;
    border: 1px solid #666; }

h3.titulo {
  padding-bottom: 5px;
  border-bottom: 1px solid #ccc;
  text-align: left !important; }

.btn-todos {
  float: right;
  padding: 5px 10px;
  background: #000;
  color: #fff; }
  .btn-todos:hover, .btn-todos:focus {
    background: #666666;
    color: #fff; }

.panel-heading {
  padding: 0px 0px; }

.panel-title > a {
  display: block;
  padding: 10px 15px;
}

#page-header h3 span {
  background: #000000;
}

#contact-form .mc-name span, #contact-form .mc-email span, #contact-form .mc-website span {
  border: 2px solid #1a1a1a;
  background: #6ec800;
  color: #1a1a1a; }

#contact-form .mc-message button {
  border: solid 2px #6ec800;
  background: #ffffff;
  color: #6ec800; }

#contact-form .mc-name input, #contact-form .mc-email input, #contact-form .mc-website input {
  border-bottom: 2px solid #6ec800;
  color: #6ec800; }

#contact-form .mc-name span, #contact-form .mc-email span, #contact-form .mc-website span {
  border: 2px solid #6ec800;
  background: #fff;
  color: #6ec800; }

#contact-form .mc-message textarea {
  border: 2px solid #6ec800;
}

.cf-info ul li {
  color: #6ec800;
  background: #6ec800;
  border: 2px solid #6ec800; 
}

.cf-info ul li span {
  background: #fff;
  color: #6ec800;
}

.cf-info ul li h5 {
  color: #fff;
}

.btn-default {
  color: #00aa50;
  border: 1px solid #00aa50;
}

.btn-default:hover {
  color: #fff;
  border: 1px solid #00aa50;
  background: #00aa50;
}

#m-blog h4, #m-blog-content h4 {
  min-height: 48px;
}

.texto-articulo a {
  color: #00aa50;
}

.texto-articulo a:hover {
  color: #6ec800;
}

.contact-info ul li i {
  color: #a7a7a7;
}

#m-contact form input::-webkit-input-placeholder {
  color: #aaa !important;
  opacity: 1 !important;
}

#m-contact form input:-moz-placeholder {
  color: #aaa !important;
  opacity: 1 !important;
}

#m-contact form input::-moz-placeholder {
  color: #aaa !important;
  opacity: 1 !important;
}

#m-contact form input:-ms-input-placeholder {
  color: #aaa !important;
  opacity: 1 !important;
}

#m-contact form textarea::-webkit-input-placeholder {
  color: #aaa !important;
  opacity: 1 !important;
}

#m-contact form textarea:-moz-placeholder {
  color: #aaa !important;
  opacity: 1 !important;
}

#m-contact form textarea::-moz-placeholder {
  color: #aaa !important;
  opacity: 1 !important;
}

#m-contact form textarea:-ms-input-placeholder {
  color: #aaa !important;
  opacity: 1 !important;
}

.btn-todos-sm {
  padding: 5px 7px;
}

.text-contact{
  text-align: left;
}

.text-login{
  text-align: right;
}

/* modal style */

.modal-active {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    height: auto;
}

.modal-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 9999;
}

.modal-layer {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, .5);
    z-index: 9998;
}

.modal {
    display: flex;
    position: relative;
    width: 90%;
    max-width: 90%;
    max-height: 90%;
    z-index: 9999;
}

.modal-youtube {
    width: 640px;
    height: 360px;
}

.modal-close-btn {
    position: absolute;
    background-color: #6ec800;
    line-height: 0;
    padding: 10px;
    border: none;
    border-radius: 99px;
    color: white;
    right: -15px;
    top: -15px;
    cursor: pointer;
    z-index: 1;
}

.modal-content {
    width: 100%;
    background-color: #020202;
    overflow-x: hidden;
    overflow-y: auto;
    box-shadow: 0 1px 2px rgba(0, 0, 0, .35);
}

.demo-modal {
  max-width: 400px;
  overflow: inherit;
}

.demo-modal-content {
  padding: 20px 40px 20px;
}

.demo-modal-content h3 {
  color: #fff;
  margin-top: 0px;
  margin-bottom: 25px;
}

.btn_green, .btn_green_1 {
  padding: 9px 18px;
  background: #6ec800;
  display: inline-block;
  margin: 0px;
  font-family: Roboto;
  font-size: 14px;
  color: #FFF;
  position: relative;
  font-weight: 700;
  border: 1px solid #6ec800;
  text-transform: uppercase;
}

.btn_green:hover{
  background: #fff;
  color: #000;
  border: 1px solid #fff;
}

.btn_green_1:hover{
  background: #fff;
  color: #6ec800;
  border: 1px solid #6ec800;
}

.btn_red {
  padding: 9px 18px;
  background: #d43f3a;
  display: inline-block;
  margin: 0px;
  font-family: Roboto;
  font-size: 14px;
  color: #FFF;
  position: relative;
  font-weight: 700;
  border: 1px solid #d43f3a;
  text-transform: uppercase;
}

.btn_red:hover{
  background: #fff;
  color: #d43f3a;
  border: 1px solid #d43f3a;
}

.btn-limpiar {
  color: #6ec800;
  font-weight: 700;
  border: 1px solid #6ec800;
  background-color: transparent;
  padding: 9px 15px;
  text-transform: uppercase;
}

.btn-limpiar:hover {
  background-color: #fff;
  border: 1px solid #fff;
  color: #000;
}

.navbar-default .nav li a {
  font-size: 15px;
  padding: 15px 0;
}

.menu-effect a::before {
  padding: 10px 0 14px;
}

.radio input[type="radio"] {
  position: absolute;
  opacity: 0;
}
.radio input[type="radio"] + .radio-label:before {
  content: '';
  background: #f4f4f4;
  border-radius: 100%;
  border: 1px solid #b4b4b4;
  display: inline-block;
  width: 1.4em;
  height: 1.4em;
  position: relative;
  top: -0.2em;
  margin-right: 0.7em;
  vertical-align: top;
  cursor: pointer;
  text-align: center;
  transition: all 250ms ease;
}
.radio input[type="radio"]:checked + .radio-label:before {
  background-color: #6ec800;
  box-shadow: inset 0 0 0 4px #f4f4f4;
}
.radio input[type="radio"]:focus + .radio-label:before {
  outline: none;
  border-color: #6ec800;
}
.radio input[type="radio"]:disabled + .radio-label:before {
  box-shadow: inset 0 0 0 4px #f4f4f4;
  border-color: #b4b4b4;
  background: #b4b4b4;
}
.radio input[type="radio"] + .radio-label:empty:before {
  margin-right: 0;
}

.radio label {
  padding-left: 0px;
  color: #747474;
}

.alert-span{
  color:#ffff00;
}

.alert-span:hover{
  color:#ffc800;
}

#icons-wrap ul li {
    float: left;
    list-style: none;
    width: 97.99999%;
    font-family: Roboto;
    font-size: 15px;
    color: #a1a1a1;
    padding-left: 30px;
    position: relative;
    font-weight: 300;
    min-height: 45px;
    border-bottom: 1px solid #eee;
    border-top: 1px solid #eee;
    margin: 0% 0% 0% 1%;
    display: inline-block;
    transition: 0.3s;
}

.text-banner{
  text-align: center;
  position: absolute;
  width: 100%;
  background: rgba(0, 0, 0, 0.50);
  color: #fff;
  height: auto;
  font-size: 14px;
  font-weight: 700;
  bottom: 0px;
  padding-top: 6px;
  padding-bottom: 10px;
}

.img-articulo{
  height: 201px;
  width: 375px;
}

.img_curso{
  height: 200px;
  width: 240px;
}

.btn-attach{
  background: #ff0000;
  border: #ff0000 1px solid;
  color: #fff;
  margin-top: 10px;
}

.btn-attach:hover{
  background: #aa0000;
  border: #aa0000 1px solid;
}

.btn-shop{
  background: #00aa50;
  border: 1px #00aa50 solid;
  color: #fff;
  margin-top: 10px;
}

.btn-separador{
  margin-top: 10px;
  margin-bottom: 10px;
}

.precio{
  margin-top: 10px;
  margin-bottom: 10px;
}

.precio span{
  font-size: 20px;
  font-weight: 700;
}

.precio span.desc{
  color: #7acb17;
}

.precio i{
  font-size: 14px;
  font-weight: 300;
  color: #000;
}




@media only screen and (max-width:1199px){
  .navbar-brand {
    height: 195px;
  }
  .logotext {
    font-size: 15px;
    font-weight: 700;
  }
  .img-articulo{
    height: auto;
    width: auto;
  }
  .img_curso{
    height: auto;
    width: auto;
  }
}
@media only screen and (max-width:991px){
  .contact-info ul li {
    float: left;
    list-style: none;
    width: 100%;
    font-size: 15px;
    color: #585858;
    margin-bottom: 10px;
  }
  #m-blog h4, #m-blog-content h4 {
    min-height: 0px;
  }

}

@media only screen and (max-width:767px){
  .navbar-toggle {
    top: 215px;
  }
  .text-contact, .text-login{
    text-align: center;
  }
  #m-blog h4, #m-blog-content h4 {
    font-weight: 700;
  }
  .logotext {
    font-size: 20px;
  }
}
/*
#m-blog p, #m-blog-content p {
    height: 66px;
}*/