.navbar-brand {
  height: 195px; }
  .navbar-brand img {
    display: table;
    margin: 0px auto; }

#m-contact form input::-webkit-input-placeholder, #m-contact form input:-moz-placeholder, #m-contact form input::-moz-placeholder, #m-contact form input:-ms-input-placeholder {
  color: #999 !important;
  opacity: 1 !important; }

#m-contact form textarea::-webkit-input-placeholder, #m-contact form textarea:-moz-placeholder, #m-contact form textarea::-moz-placeholder, #m-contact form textarea:-ms-input-placeholder {
  color: #999 !important;
  opacity: 1 !important; }

.logotext {
  font-size: 20px;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 0px;
  font-style: normal;
  margin-top: 10px;
  color: #000; }

.logoslogan {
  font-size: 11px;
  text-align: center;
  margin-top: 5px;
  margin-bottom: 0px;
  color: #999; }

.contact-info ul li {
  font-size: 15px;
  color: #ddd; }

.mc-name span, .mc-email span, .mc-website span {
  border: 1px solid #fff;
  background: #6ec800; }

.mc-message button {
  border: solid 2px #6ec800;
  background: #6ec800; }

.mc-name input, .mc-email input, .mc-website input {
  border-bottom: 1px solid #ffffff; }

.mc-message textarea {
  border: 1px solid #ffffff; }
  .mc-message textarea:focus {
    border: 2px solid #ffffff; }

.black-back {
  background: #000;
  color: #ffffff;
  font-size: 12px; }
  .black-back span {
    display: inline-block;
    margin-right: 10px;
    margin-left: 10px;
    font-size: 12px; }
  .black-back a {
    color: #ffffff; }

.btn-more {
  padding: 9px 18px;
  background: #000;
  display: table;
  margin: 0px;
  font-family: Roboto;
  font-size: 14px;
  color: #FFF;
  position: relative;
  font-weight: 300;
  border: 1px solid #000; }
  .btn-more:hover {
    background: #666666;
    color: #FFF;
    border: 1px solid #666; }

h3.titulo {
  padding-bottom: 5px;
  border-bottom: 1px solid #ccc;
  text-align: left !important; }

.btn-todos {
  float: right;
  padding: 5px 10px;
  background: #000;
  color: #fff; }
  .btn-todos:hover, .btn-todos:focus {
    background: #666666;
    color: #fff; }

.panel-heading {
  padding: 0px 0px; }

.panel-title > a {
  display: block;
  padding: 10px 15px;
}

#page-header h3 span {
  background: #000000;
}

#contact-form .mc-name span, #contact-form .mc-email span, #contact-form .mc-website span {
  border: 2px solid #1a1a1a;
  background: #6ec800;
  color: #1a1a1a; }

#contact-form .mc-message button {
  border: solid 2px #6ec800;
  background: #ffffff;
  color: #6ec800; }

#contact-form .mc-name input, #contact-form .mc-email input, #contact-form .mc-website input {
  border-bottom: 2px solid #6ec800;
  color: #6ec800; }

#contact-form .mc-name span, #contact-form .mc-email span, #contact-form .mc-website span {
  border: 2px solid #6ec800;
  background: #fff;
  color: #6ec800; }

#contact-form .mc-message textarea {
  border: 2px solid #6ec800;
}

.cf-info ul li {
  color: #6ec800;
  background: #6ec800;
  border: 2px solid #6ec800; 
}

.cf-info ul li span {
  background: #fff;
  color: #6ec800;
}

.cf-info ul li h5 {
  color: #fff;
}

.btn-default {
  color: #00aa50;
  border: 1px solid #00aa50;
}

.btn-default:hover {
  color: #fff;
  border: 1px solid #00aa50;
  background: #00aa50;
}

#m-blog h4, #m-blog-content h4 {
  min-height: 48px;
}

.texto-articulo a {
  color: #00aa50;
}

.texto-articulo a:hover {
  color: #6ec800;
}

.contact-info ul li i {
  color: #a7a7a7;
}

#m-contact form input::-webkit-input-placeholder {
  color: #aaa !important;
  opacity: 1 !important;
}

#m-contact form input:-moz-placeholder {
  color: #aaa !important;
  opacity: 1 !important;
}

#m-contact form input::-moz-placeholder {
  color: #aaa !important;
  opacity: 1 !important;
}

#m-contact form input:-ms-input-placeholder {
  color: #aaa !important;
  opacity: 1 !important;
}

#m-contact form textarea::-webkit-input-placeholder {
  color: #aaa !important;
  opacity: 1 !important;
}

#m-contact form textarea:-moz-placeholder {
  color: #aaa !important;
  opacity: 1 !important;
}

#m-contact form textarea::-moz-placeholder {
  color: #aaa !important;
  opacity: 1 !important;
}

#m-contact form textarea:-ms-input-placeholder {
  color: #aaa !important;
  opacity: 1 !important;
}

/*
#m-blog p, #m-blog-content p {
    height: 66px;
}*/